In [15]:
#Function to return top 10 movies based on a given user's watch history using item based collaborative filtering:

def recommend(user_id):
    ratings=pd.read_csv('ratings.csv')
    ratings.drop('timestamp', inplace=True, axis=1)
    movies=pd.read_csv('movies.csv')
    movies.drop('genres',inplace=True,axis=1)
    ratings=pd.merge(movies,ratings)
    movieRatings=ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
    corrMatrix=movieRatings.corr(method='pearson', min_periods=100)
    myRatings=movieRatings.loc[user_id].dropna()
    simCandidates=pd.Series(dtype="float64")
    same=[]
    for i in range(len(myRatings.index)):
        sims=corrMatrix[myRatings.index[i]].dropna()
        sims=sims.map(lambda x:x*myRatings[i])
        simCandidates=simCandidates.append(sims)
    simCandidates.sort_values(inplace=True, ascending=False)
    simCandidates=simCandidates.groupby(simCandidates.index).sum()
    simCandidates.sort_values(inplace=True, ascending=False)
    print()
    
    same=[]
    for movie in myRatings.index:
        if(movie in simCandidates.index):
            same.append(movie)
            
    ddf=pd.DataFrame(simCandidates)
    filteredCandidates=ddf
    for movie in same:
        filteredCandidates=filteredCandidates.drop(movie)
    filteredCandidates.columns=['Rating']
    print('Top Movies rated by user are :')
    print(myRatings.sort_values(ascending=False).head(10))
    print()
    print('Lowest rated movies by user are :')
    print(myRatings.sort_values(ascending=True).head(10))
    print()
    print("-----------------------------Recommended Movies--------------------------")
    print(filteredCandidates.head(10))

In [16]:
recommend(7)

Top Movies rated by user are :
title
Contact (1997)                                          5.0
Back to the Future (1985)                               5.0
Psycho (1960)                                           5.0
Planet of the Apes (1968)                               5.0
Seven Samurai (Shichinin no samurai) (1954)             5.0
Silence of the Lambs, The (1991)                        5.0
Naked Gun 2 1/2: The Smell of Fear, The (1991)          5.0
Forrest Gump (1994)                                     5.0
Star Wars: Episode IV - A New Hope (1977)               5.0
Spirited Away (Sen to Chihiro no kamikakushi) (2001)    5.0
Name: 7, dtype: float64

Lowest rated movies by user are :
title
Lady in the Water (2006)                               0.5
Pearl Harbor (2001)                                    0.5
Star Wars: Episode II - Attack of the Clones (2002)    0.5
As Good as It Gets (1997)                              0.5
Hulk (2003)                                            0.5
Holiday, The (2006)                                    0.5
Lake House, The (2006)                                 1.0
Star Wars: Episode III - Revenge of the Sith (2005)    1.0
Mission: Impossible II (2000)                          1.0
Superman Returns (2006)                                1.0
Name: 7, dtype: float64

-----------------------------Recommended Movies--------------------------
                                                       Rating
Matrix, The (1999)                                  30.707095
Raiders of the Lost Ark (Indiana Jones and the ...  22.002139
Shawshank Redemption, The (1994)                    18.925514
Saving Private Ryan (1998)                          16.090221
Braveheart (1995)                                   14.532443
Men in Black (a.k.a. MIB) (1997)                    12.640371
Fight Club (1999)                                   12.045625
Lion King, The (1994)                               11.318720
Schindler's List (1993)                             11.235903
Speed (1994)                                        10.869473

<ipython-input-15-d57fb6cdaeca>:12: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  simCandidates=pd.Series()

In [2]:
import pandas as pd
import numpy as np
import sklearn
import timeit

In [3]:
ratings=pd.read_csv('ratings.csv')
ratings.drop('timestamp', inplace=True, axis=1)
movies=pd.read_csv('movies.csv')
movies.drop('genres',inplace=True,axis=1)
ratings=pd.merge(movies,ratings)
ratings.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [7]:
#number of movies
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
dtypes: int64(1), object(1)
memory usage: 152.3+ KB

In [13]:
#number of users
r=ratings['userId'].unique()
len(r)

610

In [4]:
#User-Item matrix (sparse matrix)
movieRatings=ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
movieRatings.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# Preparing Correlation Matrix
corrMatrix=movieRatings.corr(method='pearson', min_periods=100)
corrMatrix.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
title,,,,,,,,,,,,,,,,,,,,,
'71 (2014),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Hellboy': The Seeds of Creation (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Round Midnight (1986),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Salem's Lot (2004),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Movies rated by a particular user :
user_id = 10
myRatings=movieRatings.loc[user_id].dropna()
myRatings

title
27 Dresses (2008)                  3.0
300 (2007)                         3.0
50 First Dates (2004)              3.5
About Time (2013)                  4.0
About a Boy (2002)                 3.5
                                  ...
What a Girl Wants (2003)           3.0
When Harry Met Sally... (1989)     3.0
White House Down (2013)            4.0
Wolf of Wall Street, The (2013)    1.0
Yes Man (2008)                     0.5
Name: 10, Length: 140, dtype: float64

In [40]:
# Finding similar movies for each movie seen/rated by the user :

simCandidates=pd.Series(dtype="float64")
same=[]
for i in range(len(myRatings.index)):
    
    print("movies similar to ",myRatings.index[i], ":")
    sims=corrMatrix[myRatings.index[i]].dropna()
    # Scaling up the similar movies according to rating giving to the base movie.
    # eg here, user gave the movie "27 Dresses" a 3/5. so all similar movies will be 
    # multiplied by 3 to scale the result and bring out better results on the top
    sims=sims.map(lambda x:x*myRatings[i])
    print(sims)
    simCandidates=simCandidates.append(sims)
    print()

movies similar to  27 Dresses (2008) :
Series([], Name: 27 Dresses (2008), dtype: object)

movies similar to  300 (2007) :
Series([], Name: 300 (2007), dtype: object)

movies similar to  50 First Dates (2004) :
Series([], Name: 50 First Dates (2004), dtype: object)

movies similar to  About Time (2013) :
Series([], Name: About Time (2013), dtype: object)

movies similar to  About a Boy (2002) :
Series([], Name: About a Boy (2002), dtype: object)

movies similar to  Aladdin (1992) :
title
Ace Ventura: Pet Detective (1994)    1.208773
Aladdin (1992)                       4.000000
Apollo 13 (1995)                     1.284887
Batman (1989)                        1.096611
Beauty and the Beast (1991)          2.328745
Braveheart (1995)                    0.679009
Forrest Gump (1994)                  1.857070
Fugitive, The (1993)                 1.124994
Jurassic Park (1993)                 1.638094
Lion King, The (1994)                2.366642
Mask, The (1994)                     1.557661
Pulp Fiction (1994)                  0.377711
Shawshank Redemption, The (1994)     0.589789
Silence of the Lambs, The (1991)     1.175595
Speed (1994)                         1.097149
Terminator 2: Judgment Day (1991)    1.274531
Toy Story (1995)                     2.447569
True Lies (1994)                     1.334749
Name: Aladdin (1992), dtype: float64

movies similar to  Amazing Spider-Man, The (2012) :
Series([], Name: Amazing Spider-Man, The (2012), dtype: object)

movies similar to  American Beauty (1999) :
title
American Beauty (1999)                                                            1.000000
Fargo (1996)                                                                      0.242074
Fight Club (1999)                                                                 0.378292
Forrest Gump (1994)                                                               0.028418
Gladiator (2000)                                                                  0.115599
Godfather, The (1972)                                                             0.209296
Jurassic Park (1993)                                                              0.033386
Lord of the Rings: The Fellowship of the Ring, The (2001)                         0.042120
Matrix, The (1999)                                                                0.260836
Memento (2000)                                                                    0.214835
Men in Black (a.k.a. MIB) (1997)                                                  0.038756
Pulp Fiction (1994)                                                               0.208592
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    0.118547
Saving Private Ryan (1998)                                                        0.118984
Schindler's List (1993)                                                           0.096862
Seven (a.k.a. Se7en) (1995)                                                       0.160123
Shawshank Redemption, The (1994)                                                  0.163724
Silence of the Lambs, The (1991)                                                  0.182809
Sixth Sense, The (1999)                                                           0.278924
Star Wars: Episode IV - A New Hope (1977)                                         0.095238
Star Wars: Episode V - The Empire Strikes Back (1980)                             0.119005
Star Wars: Episode VI - Return of the Jedi (1983)                                 0.097129
Terminator 2: Judgment Day (1991)                                                 0.149645
Usual Suspects, The (1995)                                                        0.350545
Name: American Beauty (1999), dtype: float64

movies similar to  As Good as It Gets (1997) :
Series([], Name: As Good as It Gets (1997), dtype: object)

movies similar to  Avatar (2009) :
Series([], Name: Avatar (2009), dtype: object)

movies similar to  Barefoot (2014) :
Series([], Name: Barefoot (2014), dtype: object)

movies similar to  Batman Begins (2005) :
title
Batman Begins (2005)    5.0
Name: Batman Begins (2005), dtype: float64

movies similar to  Beautiful Mind, A (2001) :
title
Beautiful Mind, A (2001)    4.0
Name: Beautiful Mind, A (2001), dtype: float64

movies similar to  Becoming Jane (2007) :
Series([], Name: Becoming Jane (2007), dtype: object)

movies similar to  Best Exotic Marigold Hotel, The (2011) :
Series([], Name: Best Exotic Marigold Hotel, The (2011), dtype: object)

movies similar to  Bourne Supremacy, The (2004) :
Series([], Name: Bourne Supremacy, The (2004), dtype: object)

movies similar to  Bourne Ultimatum, The (2007) :
Series([], Name: Bourne Ultimatum, The (2007), dtype: object)

movies similar to  Brave (2012) :
Series([], Name: Brave (2012), dtype: object)

movies similar to  Bridget Jones's Diary (2001) :
Series([], Name: Bridget Jones's Diary (2001), dtype: object)

movies similar to  Bridget Jones: The Edge of Reason (2004) :
Series([], Name: Bridget Jones: The Edge of Reason (2004), dtype: object)

movies similar to  Bring It On (2000) :
Series([], Name: Bring It On (2000), dtype: object)

movies similar to  Casablanca (1942) :
title
Casablanca (1942)    4.0
Name: Casablanca (1942), dtype: float64

movies similar to  Casino Royale (2006) :
Series([], Name: Casino Royale (2006), dtype: object)

movies similar to  Chasing Liberty (2004) :
Series([], Name: Chasing Liberty (2004), dtype: object)

movies similar to  Crazy, Stupid, Love. (2011) :
Series([], Name: Crazy, Stupid, Love. (2011), dtype: object)

movies similar to  Dark Knight Rises, The (2012) :
Series([], Name: Dark Knight Rises, The (2012), dtype: object)

movies similar to  Dark Knight, The (2008) :
title
Dark Knight, The (2008)                                      4.500000
Fight Club (1999)                                            0.645585
Forrest Gump (1994)                                          0.961417
Inception (2010)                                             1.855265
Lord of the Rings: The Fellowship of the Ring, The (2001)    1.131211
Lord of the Rings: The Return of the King, The (2003)        1.347571
Lord of the Rings: The Two Towers, The (2002)                0.870250
Matrix, The (1999)                                           1.523343
Shawshank Redemption, The (1994)                             1.017210
Name: Dark Knight, The (2008), dtype: float64

movies similar to  Definitely, Maybe (2008) :
Series([], Name: Definitely, Maybe (2008), dtype: object)

movies similar to  Despicable Me (2010) :
Series([], Name: Despicable Me (2010), dtype: object)

movies similar to  Despicable Me 2 (2013) :
Series([], Name: Despicable Me 2 (2013), dtype: object)

movies similar to  Dirty Dancing (1987) :
Series([], Name: Dirty Dancing (1987), dtype: object)

movies similar to  Easy A (2010) :
Series([], Name: Easy A (2010), dtype: object)

movies similar to  Education, An (2009) :
Series([], Name: Education, An (2009), dtype: object)

movies similar to  Enough Said (2013) :
Series([], Name: Enough Said (2013), dtype: object)

movies similar to  Fight Club (1999) :
title
American Beauty (1999)                                                            0.189146
American History X (1998)                                                         0.131246
Braveheart (1995)                                                                 0.201209
Dark Knight, The (2008)                                                           0.071732
Eternal Sunshine of the Spotless Mind (2004)                                      0.114741
Fargo (1996)                                                                      0.040337
Fight Club (1999)                                                                 0.500000
Forrest Gump (1994)                                                               0.094047
Gladiator (2000)                                                                  0.121359
Godfather, The (1972)                                                             0.222602
Good Will Hunting (1997)                                                          0.143977
Inception (2010)                                                                  0.191760
Jurassic Park (1993)                                                              0.002517
Kill Bill: Vol. 1 (2003)                                                          0.176852
Lord of the Rings: The Fellowship of the Ring, The (2001)                         0.132620
Lord of the Rings: The Return of the King, The (2003)                             0.117870
Lord of the Rings: The Two Towers, The (2002)                                     0.080596
Matrix, The (1999)                                                                0.208598
Memento (2000)                                                                    0.240601
Pirates of the Caribbean: The Curse of the Black Pearl (2003)                     0.000646
Pulp Fiction (1994)                                                               0.271733
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    0.150993
Reservoir Dogs (1992)                                                             0.230721
Saving Private Ryan (1998)                                                        0.191301
Schindler's List (1993)                                                           0.180231
Seven (a.k.a. Se7en) (1995)                                                       0.255351
Shawshank Redemption, The (1994)                                                  0.168353
Shrek (2001)                                                                      0.007981
Silence of the Lambs, The (1991)                                                  0.110333
Sixth Sense, The (1999)                                                           0.211701
Star Wars: Episode IV - A New Hope (1977)                                        -0.025638
Star Wars: Episode V - The Empire Strikes Back (1980)                             0.103241
Star Wars: Episode VI - Return of the Jedi (1983)                                -0.034333
Terminator 2: Judgment Day (1991)                                                 0.091944
Toy Story (1995)                                                                  0.099293
Usual Suspects, The (1995)                                                        0.179366
Name: Fight Club (1999), dtype: float64

movies similar to  Finding Nemo (2003) :
title
Finding Nemo (2003)    3.500000
Forrest Gump (1994)    1.349478
Matrix, The (1999)     1.180525
Shrek (2001)           2.257430
Name: Finding Nemo (2003), dtype: float64

movies similar to  Finding Neverland (2004) :
Series([], Name: Finding Neverland (2004), dtype: object)

movies similar to  First Daughter (2004) :
Series([], Name: First Daughter (2004), dtype: object)

movies similar to  Forrest Gump (1994) :
title
Ace Ventura: Pet Detective (1994)            0.482544
Aladdin (1992)                               1.624936
Alien (1979)                                 0.447583
American Beauty (1999)                       0.099463
Apollo 13 (1995)                             0.652243
                                               ...
Toy Story (1995)                             1.062129
True Lies (1994)                             0.988375
Truman Show, The (1998)                      1.513945
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)    0.620830
Usual Suspects, The (1995)                   0.748437
Name: Forrest Gump (1994), Length: 73, dtype: float64

movies similar to  Frozen (2013) :
Series([], Name: Frozen (2013), dtype: object)

movies similar to  Girl with a Pearl Earring (2003) :
Series([], Name: Girl with a Pearl Earring (2003), dtype: object)

movies similar to  Gladiator (2000) :
title
American Beauty (1999)                                                            0.462396
Fight Club (1999)                                                                 0.970871
Forrest Gump (1994)                                                               0.755741
Gladiator (2000)                                                                  4.000000
Lord of the Rings: The Fellowship of the Ring, The (2001)                         0.473434
Lord of the Rings: The Return of the King, The (2003)                             1.415413
Lord of the Rings: The Two Towers, The (2002)                                     0.646748
Matrix, The (1999)                                                                1.347979
Pulp Fiction (1994)                                                               0.087100
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    1.406357
Saving Private Ryan (1998)                                                        1.873815
Shawshank Redemption, The (1994)                                                  1.027262
Silence of the Lambs, The (1991)                                                  0.957652
Sixth Sense, The (1999)                                                           1.428595
Star Wars: Episode IV - A New Hope (1977)                                         1.403214
Star Wars: Episode V - The Empire Strikes Back (1980)                             1.189940
Star Wars: Episode VI - Return of the Jedi (1983)                                 1.364417
Name: Gladiator (2000), dtype: float64

movies similar to  Graduate, The (1967) :
Series([], Name: Graduate, The (1967), dtype: object)

movies similar to  Grand Budapest Hotel, The (2014) :
Series([], Name: Grand Budapest Hotel, The (2014), dtype: object)

movies similar to  Harry Potter and the Half-Blood Prince (2009) :
Series([], Name: Harry Potter and the Half-Blood Prince (2009), dtype: object)

movies similar to  He's Just Not That Into You (2009) :
Series([], Name: He's Just Not That Into You (2009), dtype: object)

movies similar to  Help, The (2011) :
Series([], Name: Help, The (2011), dtype: object)

movies similar to  Hitch (2005) :
Series([], Name: Hitch (2005), dtype: object)

movies similar to  Hobbit: The Desolation of Smaug, The (2013) :
Series([], Name: Hobbit: The Desolation of Smaug, The (2013), dtype: object)

movies similar to  Holiday, The (2006) :
Series([], Name: Holiday, The (2006), dtype: object)

movies similar to  Hotel Rwanda (2004) :
Series([], Name: Hotel Rwanda (2004), dtype: object)

movies similar to  House Bunny, The (2008) :
Series([], Name: House Bunny, The (2008), dtype: object)

movies similar to  How Do You Know (2010) :
Series([], Name: How Do You Know (2010), dtype: object)

movies similar to  How to Lose a Guy in 10 Days (2003) :
Series([], Name: How to Lose a Guy in 10 Days (2003), dtype: object)

movies similar to  Ice Age 4: Continental Drift (2012) :
Series([], Name: Ice Age 4: Continental Drift (2012), dtype: object)

movies similar to  Incredibles, The (2004) :
title
Incredibles, The (2004)                                  2.500000
Lord of the Rings: The Return of the King, The (2003)    0.535988
Shrek (2001)                                             0.990265
Name: Incredibles, The (2004), dtype: float64

movies similar to  Interstellar (2014) :
Series([], Name: Interstellar (2014), dtype: object)

movies similar to  Intouchables (2011) :
Series([], Name: Intouchables (2011), dtype: object)

movies similar to  Julie & Julia (2009) :
Series([], Name: Julie & Julia (2009), dtype: object)

movies similar to  Juno (2007) :
Series([], Name: Juno (2007), dtype: object)

movies similar to  King's Speech, The (2010) :
Series([], Name: King's Speech, The (2010), dtype: object)

movies similar to  Kingsman: The Secret Service (2015) :
Series([], Name: Kingsman: The Secret Service (2015), dtype: object)

movies similar to  Kung Fu Panda 2 (2011) :
Series([], Name: Kung Fu Panda 2 (2011), dtype: object)

movies similar to  Legally Blonde (2001) :
Series([], Name: Legally Blonde (2001), dtype: object)

movies similar to  Legally Blonde 2: Red, White & Blonde (2003) :
Series([], Name: Legally Blonde 2: Red, White & Blonde (2003), dtype: object)

movies similar to  Life of Pi (2012) :
Series([], Name: Life of Pi (2012), dtype: object)

movies similar to  Lord of the Rings: The Fellowship of the Ring, The (2001) :
title
American Beauty (1999)                                                            0.168481
Dark Knight, The (2008)                                                           1.005521
Fight Club (1999)                                                                 1.060959
Forrest Gump (1994)                                                               0.020485
Gladiator (2000)                                                                  0.473434
Lord of the Rings: The Fellowship of the Ring, The (2001)                         4.000000
Lord of the Rings: The Return of the King, The (2003)                             3.399756
Lord of the Rings: The Two Towers, The (2002)                                     3.549206
Matrix, The (1999)                                                                0.818663
Memento (2000)                                                                    1.454028
Monsters, Inc. (2001)                                                             0.470180
Pirates of the Caribbean: The Curse of the Black Pearl (2003)                     1.438495
Pulp Fiction (1994)                                                               0.421388
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    1.184788
Saving Private Ryan (1998)                                                        0.501959
Shawshank Redemption, The (1994)                                                  0.699378
Shrek (2001)                                                                      0.530486
Silence of the Lambs, The (1991)                                                  1.096523
Sixth Sense, The (1999)                                                           1.014100
Spider-Man (2002)                                                                 1.372285
Star Wars: Episode IV - A New Hope (1977)                                         1.360913
Star Wars: Episode V - The Empire Strikes Back (1980)                             1.142806
Star Wars: Episode VI - Return of the Jedi (1983)                                 0.969840
Name: Lord of the Rings: The Fellowship of the Ring, The (2001), dtype: float64

movies similar to  Lord of the Rings: The Return of the King, The (2003) :
title
Dark Knight, The (2008)                                                           1.197841
Fight Club (1999)                                                                 0.942957
Forrest Gump (1994)                                                              -0.067350
Gladiator (2000)                                                                  1.415413
Incredibles, The (2004)                                                           0.857580
Lord of the Rings: The Fellowship of the Ring, The (2001)                         3.399756
Lord of the Rings: The Return of the King, The (2003)                             4.000000
Lord of the Rings: The Two Towers, The (2002)                                     3.286012
Matrix, The (1999)                                                                1.169130
Memento (2000)                                                                    1.251805
Pirates of the Caribbean: The Curse of the Black Pearl (2003)                     1.285912
Pulp Fiction (1994)                                                               0.277542
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    1.308195
Shawshank Redemption, The (1994)                                                  0.692459
Shrek (2001)                                                                      0.476681
Silence of the Lambs, The (1991)                                                  0.620083

In [42]:
simCandidates.sort_values(inplace=True, ascending=False)
simCandidates=simCandidates.groupby(simCandidates.index).sum()
simCandidates.sort_values(inplace=True, ascending=False)
simCandidates

Lord of the Rings: The Return of the King, The (2003)        14.795471
Lord of the Rings: The Two Towers, The (2002)                14.495176
Lord of the Rings: The Fellowship of the Ring, The (2001)    13.677510
Forrest Gump (1994)                                          12.046372
Matrix, The (1999)                                           11.103098
                                                               ...
Minority Report (2002)                                        0.126744
Terminator, The (1984)                                        0.125558
X-Men (2000)                                                  0.095920
Blade Runner (1982)                                           0.079321
Fifth Element, The (1997)                                     0.064005
Length: 88, dtype: float64

In [43]:
# Removing movies already seen by user 

same=[]
for movie in myRatings.index:
    if(movie in simCandidates.index):
        same.append(movie)

ddf=pd.DataFrame(simCandidates)
filteredCandidates=ddf
for movie in same:
    filteredCandidates=filteredCandidates.drop(movie)

In [45]:
filteredCandidates.columns=['Rating']
print('Top Movies rated by user are :')
print()
print(myRatings.sort_values(ascending=False).head(10))
print()
print('Lowest rated movies by user are :')
print()
print(myRatings.sort_values(ascending=True).head(10))
print()
print("-----------------------------Recommended Movies--------------------------")
print(filteredCandidates.head(10))

Top Movies rated by user are :

title
First Daughter (2004)            5.0
Skyfall (2012)                   5.0
Spectre (2015)                   5.0
Dark Knight Rises, The (2012)    5.0
King's Speech, The (2010)        5.0
Despicable Me (2010)             5.0
Batman Begins (2005)             5.0
Intouchables (2011)              5.0
The Intern (2015)                5.0
Notebook, The (2004)             5.0
Name: 10, dtype: float64

Lowest rated movies by user are :

title
Yes Man (2008)                               0.5
Interstellar (2014)                          0.5
Julie & Julia (2009)                         0.5
Grand Budapest Hotel, The (2014)             0.5
Mary Poppins (1964)                          0.5
Fight Club (1999)                            0.5
Matrix, The (1999)                           0.5
Sixth Sense, The (1999)                      0.5
Rust and Bone (De rouille et d'os) (2012)    0.5
Kingsman: The Secret Service (2015)          1.0
Name: 10, dtype: float64

-----------------------------Recommended Movies--------------------------
                                                      Rating
Star Wars: Episode IV - A New Hope (1977)           7.496018
Shawshank Redemption, The (1994)                    7.203107
Raiders of the Lost Ark (Indiana Jones and the ...  6.686895
Silence of the Lambs, The (1991)                    6.642676
Star Wars: Episode V - The Empire Strikes Back ...  6.598600
Star Wars: Episode VI - Return of the Jedi (1983)   6.407184
Pirates of the Caribbean: The Curse of the Blac...  6.371572
Saving Private Ryan (1998)                          5.480683
Toy Story (1995)                                    5.461598
Memento (2000)                                      4.610631

In [46]:
# Testing execution time :

code_to_test = """

import pandas as pd
import numpy as np
import sklearn
import timeit

user_id=10
ratings=pd.read_csv('ratings.csv')
ratings.drop('timestamp', inplace=True, axis=1)
movies=pd.read_csv('movies.csv')
movies.drop('genres',inplace=True,axis=1)
ratings=pd.merge(movies,ratings)
movieRatings=ratings.pivot_table(index=['userId'],columns=['title'],values='rating')
corrMatrix=movieRatings.corr(method='pearson', min_periods=100)
myRatings=movieRatings.loc[user_id].dropna()
simCandidates=pd.Series()
same=[]
for i in range(len(myRatings.index)):
    sims=corrMatrix[myRatings.index[i]].dropna()
    sims=sims.map(lambda x:x*myRatings[i])
    simCandidates=simCandidates.append(sims)
simCandidates.sort_values(inplace=True, ascending=False)
simCandidates=simCandidates.groupby(simCandidates.index).sum()
simCandidates.sort_values(inplace=True, ascending=False)

same=[]
for movie in myRatings.index:
    if(movie in simCandidates.index):
        #print(movie)
        same.append(movie)

ddf=pd.DataFrame(simCandidates)
filteredCandidates=ddf
for movie in same:
    filteredCandidates=filteredCandidates.drop(movie)
filteredCandidates.columns=['Rating']
print('Movies rated by user are :')
print(myRatings.head(10))
print()
print("-----------------------------Recommended Movies--------------------------")
print(filteredCandidates.head(10))


"""

In [47]:
elapsed_time = timeit.timeit(code_to_test, number=10)/10
print(elapsed_time)

Movies rated by user are :
title
27 Dresses (2008)                 3.0
300 (2007)                        3.0
50 First Dates (2004)             3.5
About Time (2013)                 4.0
About a Boy (2002)                3.5
Aladdin (1992)                    4.0
Amazing Spider-Man, The (2012)    3.0
American Beauty (1999)            1.0
As Good as It Gets (1997)         3.5
Avatar (2009)                     2.5
Name: 10, dtype: float64

-----------------------------Recommended Movies--------------------------
                                                      Rating
Star Wars: Episode IV - A New Hope (1977)           7.496018
Shawshank Redemption, The (1994)                    7.203107
Raiders of the Lost Ark (Indiana Jones and the ...  6.686895
Silence of the Lambs, The (1991)                    6.642676
Star Wars: Episode V - The Empire Strikes Back ...  6.598600
Star Wars: Episode VI - Return of the Jedi (1983)   6.407184
Pirates of the Caribbean: The Curse of the Blac...  6.371572
Saving Private Ryan (1998)                          5.480683
Toy Story (1995)                                    5.461598
Memento (2000)                                      4.610631
Movies rated by user are :
title
27 Dresses (2008)                 3.0
300 (2007)                        3.0
50 First Dates (2004)             3.5
About Time (2013)                 4.0
About a Boy (2002)                3.5
Aladdin (1992)                    4.0
Amazing Spider-Man, The (2012)    3.0
American Beauty (1999)            1.0
As Good as It Gets (1997)         3.5
Avatar (2009)                     2.5
Name: 10, dtype: float64

-----------------------------Recommended Movies--------------------------
                                                      Rating
Star Wars: Episode IV - A New Hope (1977)           7.496018
Shawshank Redemption, The (1994)                    7.203107
Raiders of the Lost Ark (Indiana Jones and the ...  6.686895
Silence of the Lambs, The (1991)                    6.642676
Star Wars: Episode V - The Empire Strikes Back ...  6.598600
Star Wars: Episode VI - Return of the Jedi (1983)   6.407184
Pirates of the Caribbean: The Curse of the Blac...  6.371572
Saving Private Ryan (1998)                          5.480683
Toy Story (1995)                                    5.461598
Memento (2000)                                      4.610631
Movies rated by user are :
title
27 Dresses (2008)                 3.0
300 (2007)                        3.0
50 First Dates (2004)             3.5
About Time (2013)                 4.0
About a Boy (2002)                3.5
Aladdin (1992)                    4.0
Amazing Spider-Man, The (2012)    3.0
American Beauty (1999)            1.0
As Good as It Gets (1997)         3.5
Avatar (2009)                     2.5
Name: 10, dtype: float64

-----------------------------Recommended Movies--------------------------
                                                      Rating
Star Wars: Episode IV - A New Hope (1977)           7.496018
Shawshank Redemption, The (1994)                    7.203107
Raiders of the Lost Ark (Indiana Jones and the ...  6.686895
Silence of the Lambs, The (1991)                    6.642676
Star Wars: Episode V - The Empire Strikes Back ...  6.598600
Star Wars: Episode VI - Return of the Jedi (1983)   6.407184
Pirates of the Caribbean: The Curse of the Blac...  6.371572
Saving Private Ryan (1998)                          5.480683
Toy Story (1995)                                    5.461598
Memento (2000)                                      4.610631
Movies rated by user are :
title
27 Dresses (2008)                 3.0
300 (2007)                        3.0
50 First Dates (2004)             3.5
About Time (2013)                 4.0
About a Boy (2002)                3.5
Aladdin (1992)                    4.0
Amazing Spider-Man, The (2012)    3.0
American Beauty (1999)            1.0
As Good as It Gets (1997)         3.5
Avatar (2009)                     2.5
Name: 10, dtype: float64

-----------------------------Recommended Movies--------------------------
                                                      Rating
Star Wars: Episode IV - A New Hope (1977)           7.496018
Shawshank Redemption, The (1994)                    7.203107
Raiders of the Lost Ark (Indiana Jones and the ...  6.686895
Silence of the Lambs, The (1991)                    6.642676
Star Wars: Episode V - The Empire Strikes Back ...  6.598600
Star Wars: Episode VI - Return of the Jedi (1983)   6.407184
Pirates of the Caribbean: The Curse of the Blac...  6.371572
Saving Private Ryan (1998)                          5.480683
Toy Story (1995)                                    5.461598
Memento (2000)                                      4.610631
Movies rated by user are :
title
27 Dresses (2008)                 3.0
300 (2007)                        3.0
50 First Dates (2004)             3.5
About Time (2013)                 4.0
About a Boy (2002)                3.5
Aladdin (1992)                    4.0
Amazing Spider-Man, The (2012)    3.0
American Beauty (1999)            1.0
As Good as It Gets (1997)         3.5
Avatar (2009)                     2.5
Name: 10, dtype: float64

-----------------------------Recommended Movies--------------------------
                                                      Rating
Star Wars: Episode IV - A New Hope (1977)           7.496018
Shawshank Redemption, The (1994)                    7.203107
Raiders of the Lost Ark (Indiana Jones and the ...  6.686895
Silence of the Lambs, The (1991)                    6.642676
Star Wars: Episode V - The Empire Strikes Back ...  6.598600
Star Wars: Episode VI - Return of the Jedi (1983)   6.407184
Pirates of the Caribbean: The Curse of the Blac...  6.371572
Saving Private Ryan (1998)                          5.480683
Toy Story (1995)                                    5.461598
Memento (2000)                                      4.610631
Movies rated by user are :
title
27 Dresses (2008)                 3.0
300 (2007)                        3.0
50 First Dates (2004)             3.5
About Time (2013)                 4.0
About a Boy (2002)                3.5
Aladdin (1992)                    4.0
Amazing Spider-Man, The (2012)    3.0
American Beauty (1999)            1.0
As Good as It Gets (1997)         3.5
Avatar (2009)                     2.5
Name: 10, dtype: float64

-----------------------------Recommended Movies--------------------------
                                                      Rating
Star Wars: Episode IV - A New Hope (1977)           7.496018
Shawshank Redemption, The (1994)                    7.203107
Raiders of the Lost Ark (Indiana Jones and the ...  6.686895
Silence of the Lambs, The (1991)                    6.642676
Star Wars: Episode V - The Empire Strikes Back ...  6.598600
Star Wars: Episode VI - Return of the Jedi (1983)   6.407184
Pirates of the Caribbean: The Curse of the Blac...  6.371572
Saving Private Ryan (1998)                          5.480683
Toy Story (1995)                                    5.461598
Memento (2000)                                      4.610631
Movies rated by user are :
title
27 Dresses (2008)                 3.0
300 (2007)                        3.0
50 First Dates (2004)             3.5
About Time (2013)                 4.0
About a Boy (2002)                3.5
Aladdin (1992)                    4.0
Amazing Spider-Man, The (2012)    3.0
American Beauty (1999)            1.0
As Good as It Gets (1997)         3.5
Avatar (2009)                     2.5
Name: 10, dtype: float64

-----------------------------Recommended Movies--------------------------
                                                      Rating
Star Wars: Episode IV - A New Hope (1977)           7.496018
Shawshank Redemption, The (1994)                    7.203107
Raiders of the Lost Ark (Indiana Jones and the ...  6.686895
Silence of the Lambs, The (1991)                    6.642676
Star Wars: Episode V - The Empire Strikes Back ...  6.598600
Star Wars: Episode VI - Return of the Jedi (1983)   6.407184
Pirates of the Caribbean: The Curse of the Blac...  6.371572
Saving Private Ryan (1998)                          5.480683
Toy Story (1995)                                    5.461598
Memento (2000)                                      4.610631

Movies rated by user are :
title
27 Dresses (2008)                 3.0
300 (2007)                        3.0
50 First Dates (2004)             3.5
About Time (2013)                 4.0
About a Boy (2002)                3.5
Aladdin (1992)                    4.0
Amazing Spider-Man, The (2012)    3.0
American Beauty (1999)            1.0
As Good as It Gets (1997)         3.5
Avatar (2009)                     2.5
Name: 10, dtype: float64

-----------------------------Recommended Movies--------------------------
                                                      Rating
Star Wars: Episode IV - A New Hope (1977)           7.496018
Shawshank Redemption, The (1994)                    7.203107
Raiders of the Lost Ark (Indiana Jones and the ...  6.686895
Silence of the Lambs, The (1991)                    6.642676
Star Wars: Episode V - The Empire Strikes Back ...  6.598600
Star Wars: Episode VI - Return of the Jedi (1983)   6.407184
Pirates of the Caribbean: The Curse of the Blac...  6.371572
Saving Private Ryan (1998)                          5.480683
Toy Story (1995)                                    5.461598
Memento (2000)                                      4.610631
Movies rated by user are :
title
27 Dresses (2008)                 3.0
300 (2007)                        3.0
50 First Dates (2004)             3.5
About Time (2013)                 4.0
About a Boy (2002)                3.5
Aladdin (1992)                    4.0
Amazing Spider-Man, The (2012)    3.0
American Beauty (1999)            1.0
As Good as It Gets (1997)         3.5
Avatar (2009)                     2.5
Name: 10, dtype: float64

-----------------------------Recommended Movies--------------------------
                                                      Rating
Star Wars: Episode IV - A New Hope (1977)           7.496018
Shawshank Redemption, The (1994)                    7.203107
Raiders of the Lost Ark (Indiana Jones and the ...  6.686895
Silence of the Lambs, The (1991)                    6.642676
Star Wars: Episode V - The Empire Strikes Back ...  6.598600
Star Wars: Episode VI - Return of the Jedi (1983)   6.407184
Pirates of the Caribbean: The Curse of the Blac...  6.371572
Saving Private Ryan (1998)                          5.480683
Toy Story (1995)                                    5.461598
Memento (2000)                                      4.610631
Movies rated by user are :
title
27 Dresses (2008)                 3.0
300 (2007)                        3.0
50 First Dates (2004)             3.5
About Time (2013)                 4.0
About a Boy (2002)                3.5
Aladdin (1992)                    4.0
Amazing Spider-Man, The (2012)    3.0
American Beauty (1999)            1.0
As Good as It Gets (1997)         3.5
Avatar (2009)                     2.5
Name: 10, dtype: float64

-----------------------------Recommended Movies--------------------------
                                                      Rating
Star Wars: Episode IV - A New Hope (1977)           7.496018
Shawshank Redemption, The (1994)                    7.203107
Raiders of the Lost Ark (Indiana Jones and the ...  6.686895
Silence of the Lambs, The (1991)                    6.642676
Star Wars: Episode V - The Empire Strikes Back ...  6.598600
Star Wars: Episode VI - Return of the Jedi (1983)   6.407184
Pirates of the Caribbean: The Curse of the Blac...  6.371572
Saving Private Ryan (1998)                          5.480683
Toy Story (1995)                                    5.461598
Memento (2000)                                      4.610631
16.60264135409998